[project]
	description = "A Simple Two  Player Haskell Game  "
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sandip Kumar (sandipgupta)
[access "refs/for/refs/*"]
	read = group user/Sandip Kumar (sandipgupta)
	push = group user/Sandip Kumar (sandipgupta)
	label-Code-Review = -2..+2 group user/Sandip Kumar (sandipgupta)
	label-Verified = -1..+1 group user/Sandip Kumar (sandipgupta)
	rebase = group user/Sandip Kumar (sandipgupta)
	removeReviewer = group user/Sandip Kumar (sandipgupta)
	submit = group user/Sandip Kumar (sandipgupta)
[access "refs/heads/*"]
	read = group user/Sandip Kumar (sandipgupta)
	create = group user/Sandip Kumar (sandipgupta)
	push = +force group user/Sandip Kumar (sandipgupta)
	pushMerge = group user/Sandip Kumar (sandipgupta)
[access "refs/tags/*"]
	push = +force group user/Sandip Kumar (sandipgupta)
	pushTag = group user/Sandip Kumar (sandipgupta)
	pushSignedTag = group user/Sandip Kumar (sandipgupta)
